{
  "n": 1,
  "dry_run": false,
  "long_baseurl": "https://long.domain.com",
  "short_baseurl": "https://shrt.li",
  "target_folder": "wallets",
  "kutt_apikey": "xxxxxxx",
  "postcard_template_path": {
    "front": "templates/front.pdf",
    "back": "templates/back.pdf"
  },
  "aeternity": {
    "wallet_credit": 1251,
    "genesis_public_key":
      "yyyyyy",
    "genesis_private_key":
      "zzzzzz",
    "node_url": "aeternity_node.example.com"
  }
}
